.page {
	width: 1200px;
	background-color: rgb(188, 232, 247);
	margin: auto;
	padding: 50px;
	padding-top: 35px;
  }

.title{
    font-family: "Helvetica";
	background-color: rgb(230, 58, 58);
    font-size: 35;
	font-weight: bolder;
	text-align: center
}

.sub{
	font-family: "Roboto Condensed";
	text-decoration: underline;
    font-size: larger;
	font-style: italic;
	text-align: center
}

.para2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(73, 71, 71);
	line-height: 200%;
  	margin-right: 60px;
  	margin-left: 60px;
	text-align: center

}

.i{
  	margin-left: 100px;
}

.para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(73, 71, 71);
  	margin-right: 150px;
  	margin-left: 80px;
}

.author{
	font-size: 19px;
	font-style: italic;
    text-align: left
  }
